Flask
SQLAlchemy
flask_sqlalchemy
psycopg2-binary
PyJWT
Flask-JWT-Extended
minio  # Changed from python-minio
WTForms
dotenv
flask_migrate
flask-jwt-extended
email_validator
flask-wtf
flask-limiter
logging